# Classes
public net.minecraft.world.level.LocalMobCapCalculator$MobCounts
public net.minecraft.client.renderer.RenderType$CompositeRenderType
public net.minecraft.client.renderer.RenderType$CompositeState
public net.minecraft.client.renderer.block.model.ItemOverrides$BakedOverride
public net.minecraft.client.renderer.FogRenderer$FogData
public net.minecraft.world.item.enchantment.EnchantmentHelper$EnchantmentInSlotVisitor
public net.minecraft.world.level.storage.loot.functions.ApplyBonusCount$Formula
public net.minecraft.world.level.levelgen.structure.pools.JigsawPlacement$Placer
public net.minecraft.resources.RegistryOps$HolderLookupAdapter
public net.minecraft.world.level.biome.Biome$ClimateSettings
public net.minecraft.client.gui.MapRenderer$MapInstance
public net.minecraft.client.particle.DripParticle$FallingParticle
public net.minecraft.client.particle.DripParticle$FallAndLandParticle
public net.minecraft.client.particle.DripParticle$DripLandParticle
public net.minecraft.client.particle.DripParticle$DripHangParticle
public net.minecraft.client.particle.VibrationSignalParticle
public net.minecraft.core.HolderSet$Direct
public net.minecraft.world.entity.item.FallingBlockEntity
public net.minecraft.world.entity.projectile.FishingHook
public net.minecraft.data.models.BlockModelGenerators$TintState

# Methods
public net.minecraft.world.level.block.LiquidBlock	getFluidState(Lnet/minecraft/world/level/block/state/BlockState;)Lnet/minecraft/world/level/material/FluidState;
public net.minecraft.client.renderer.entity.ItemFrameRenderer	getLightVal(Lnet/minecraft/world/entity/decoration/ItemFrame;II)I
public net.minecraft.world.inventory.ItemCombinerMenu	createInventorySlots(Lnet/minecraft/world/entity/player/Inventory;)V
public net.minecraft.world.entity.animal.Wolf	setCollarColor(Lnet/minecraft/world/item/DyeColor;)V
public net.minecraft.world.entity.animal.Cat	setCollarColor(Lnet/minecraft/world/item/DyeColor;)V
protected net.minecraft.world.item.component.BundleContents$Mutable	findStackIndex(Lnet/minecraft/world/item/ItemStack;)I
protected net.minecraft.world.item.component.BundleContents$Mutable	getMaxAmountToAdd(Lnet/minecraft/world/item/ItemStack;)I
public net.minecraft.world.entity.projectile.Projectile	<init>(Lnet/minecraft/world/entity/EntityType;Lnet/minecraft/world/level/Level;)V
public net.minecraft.world.level.saveddata.maps.MapItemSavedData	<init>(IIBZZZLnet/minecraft/resources/ResourceKey;)V
public net.minecraft.world.level.saveddata.maps.MapItemSavedData	addDecoration(Lnet/minecraft/core/Holder;Lnet/minecraft/world/level/LevelAccessor;Ljava/lang/String;DDDLnet/minecraft/network/chat/Component;)V
public net.minecraft.client.particle.DripParticle$FallingParticle	<init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDLnet/minecraft/world/level/material/Fluid;)V
public net.minecraft.client.particle.DripParticle$FallAndLandParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDLnet/minecraft/world/level/material/Fluid;Lnet/minecraft/core/particles/ParticleOptions;)V
public net.minecraft.client.particle.DripParticle$DripLandParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDLnet/minecraft/world/level/material/Fluid;)V
public net.minecraft.client.particle.DripParticle$DripHangParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDLnet/minecraft/world/level/material/Fluid;Lnet/minecraft/core/particles/ParticleOptions;)V
public net.minecraft.client.particle.DripParticle$FallingParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDLnet/minecraft/world/level/material/Fluid;I)V
public net.minecraft.client.particle.DripParticle	<init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDLnet/minecraft/world/level/material/Fluid;)V
public net.minecraft.client.particle.SuspendedParticle	<init>(Lnet/minecraft/client/multiplayer/ClientLevel;Lnet/minecraft/client/particle/SpriteSet;DDDDDD)V
public net.minecraft.world.level.block.Blocks woodenButton(Lnet/minecraft/world/level/block/state/properties/BlockSetType;)Lnet/minecraft/world/level/block/Block;
public net.minecraft.world.entity.LivingEntity hurtCurrentlyUsedShield(F)V
public net.minecraft.world.entity.player.Player hurtCurrentlyUsedShield(F)V
public net.minecraft.world.entity.LivingEntity hurtArmor(Lnet/minecraft/world/damagesource/DamageSource;F)V
public net.minecraft.world.entity.animal.Wolf hurtArmor(Lnet/minecraft/world/damagesource/DamageSource;F)V
public net.minecraft.world.entity.player.Player hurtArmor(Lnet/minecraft/world/damagesource/DamageSource;F)V
public net.minecraft.data.models.BlockModelGenerators createSimpleBlock(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/data/models/blockstates/MultiVariantGenerator;
public net.minecraft.world.entity.LivingEntity actuallyHurt(Lnet/minecraft/world/damagesource/DamageSource;F)V
public net.minecraft.world.entity.player.Player actuallyHurt(Lnet/minecraft/world/damagesource/DamageSource;F)V
public net.minecraft.world.entity.animal.Animal actuallyHurt(Lnet/minecraft/world/damagesource/DamageSource;F)V
public net.minecraft.world.entity.animal.armadillo.Armadillo actuallyHurt(Lnet/minecraft/world/damagesource/DamageSource;F)V
public net.minecraft.world.entity.animal.camel.Camel actuallyHurt(Lnet/minecraft/world/damagesource/DamageSource;F)V
public net.minecraft.world.entity.animal.Wolf actuallyHurt(Lnet/minecraft/world/damagesource/DamageSource;F)V
public net.minecraft.client.player.LocalPlayer  actuallyHurt(Lnet/minecraft/world/damagesource/DamageSource;F)V
public net.minecraft.world.entity.item.FallingBlockEntity	<init>(Lnet/minecraft/world/level/Level;DDDLnet/minecraft/world/level/block/state/BlockState;)V

# Fields
public net.minecraft.world.level.storage.loot.LootTable	pools
public net.minecraft.world.level.block.LiquidBlock	fluid
public net.minecraft.data.models.BlockModelGenerators$BlockFamilyProvider	fullBlock
public net.minecraft.world.level.storage.loot.parameters.LootContextParamSets	REGISTRY
public-f net.minecraft.world.level.saveddata.maps.MapItemSavedData	dimension
public net.minecraft.world.level.storage.loot.parameters.LootContextParamSets REGISTRY
public net.minecraft.client.particle.Particle	gravity

# Datagen
public net.minecraft.data.models.ItemModelGenerators output
public net.minecraft.data.models.BlockModelGenerators modelOutput
public net.minecraft.data.models.model.TexturedModel createDefault(Ljava/util/function/Function;Lnet/minecraft/data/models/model/ModelTemplate;)Lnet/minecraft/data/models/model/TexturedModel$Provider;
public net.minecraft.data.models.BlockModelGenerators createRotatedPillarWithHorizontalVariant(Lnet/minecraft/world/level/block/Block;Lnet/minecraft/resources/ResourceLocation;Lnet/minecraft/resources/ResourceLocation;)Lnet/minecraft/data/models/blockstates/BlockStateGenerator;
public net.minecraft.data.models.model.TextureSlot create(Ljava/lang/String;)Lnet/minecraft/data/models/model/TextureSlot;

# Fishing Hook Cursedness
public net.minecraft.world.entity.projectile.FishingHook$FishHookState
public net.minecraft.world.entity.projectile.FishingHook$OpenWaterType
protected net.minecraft.world.entity.projectile.FishingHook syncronizedRandom
protected net.minecraft.world.entity.projectile.Projectile hasBeenShot
protected net.minecraft.world.entity.projectile.Projectile leftOwner
protected net.minecraft.world.entity.projectile.FishingHook life
protected net.minecraft.world.entity.projectile.FishingHook nibble
protected net.minecraft.world.entity.projectile.FishingHook timeUntilLured
protected net.minecraft.world.entity.projectile.FishingHook timeUntilHooked
protected net.minecraft.world.entity.projectile.FishingHook fishAngle
protected net.minecraft.world.entity.projectile.FishingHook openWater
protected net.minecraft.world.entity.projectile.FishingHook hookedIn
protected net.minecraft.world.entity.projectile.FishingHook currentState
protected net.minecraft.world.entity.projectile.FishingHook luck
protected net.minecraft.world.entity.projectile.FishingHook lureSpeed
protected net.minecraft.world.entity.projectile.FishingHook DATA_HOOKED_ENTITY
protected net.minecraft.world.entity.projectile.FishingHook DATA_BITING
protected net.minecraft.world.entity.projectile.FishingHook catchingFish(Lnet/minecraft/core/BlockPos;)V
public net.minecraft.world.entity.projectile.FishingHook calculateOpenWater(Lnet/minecraft/core/BlockPos;)Z
protected net.minecraft.world.entity.projectile.FishingHook getOpenWaterTypeForBlock(Lnet/minecraft/core/BlockPos;)Lnet/minecraft/world/entity/projectile/FishingHook$OpenWaterType;
protected net.minecraft.world.entity.projectile.FishingHook outOfWaterTime
protected net.minecraft.world.entity.projectile.FishingHook MAX_OUT_OF_WATER_TIME
protected net.minecraft.world.entity.projectile.FishingHook setHookedEntity(Lnet/minecraft/world/entity/Entity;)V
protected net.minecraft.world.entity.projectile.FishingHook checkCollision()V
protected net.minecraft.world.entity.projectile.Projectile checkLeftOwner()Z
protected net.minecraft.world.entity.projectile.FishingHook biting
